*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
   display: flex;
   flex-direction: row;
   color: white;
   background-color: rgb(117, 155, 215);
   font-size: 25px;
   padding: 20px;
}

.link{
   margin-right: 25px;
   text-decoration: none;
   color: white;
}

main{
   margin:100px auto;
   display: grid;
   place-items: center;
   font-size: 30px;

}
h1{
  color: white;
  background-color: rgb(34, 87, 172);
  padding: 25px;
}
li{
  text-align: center;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
}
.items{
  padding: 80px 100px;
  width: 50%;
  background-color: rgb(163, 163, 195);
  margin: 20px auto;
  text-align: center;
}